<li [ngClass]="{'list-group-item':true, 'list-group-item-success': appareilStatus === 'alumé', 'list-group-item-danger': appareilStatus === 'eteint'}" >

    <div class="machine-block">
    	<h4 class="machine-info" [ngStyle]={color:getColor(),border:getBorder(),background:getBackground()}>
	    	<p>Appareil:{{ appareilName }}</p>
	    	<p>Status:{{getStatus()}}</p>
	    </h4>
    	<a [routerLink]="[id]">Detail</a>
    </div>
    <button class="btn btn-success"
            *ngIf="appareilStatus === 'eteint'"
            (click)="onswitch()"
            [disabled]="appareilStatus === 'alumé'"></button>
    <button class="btn btn-danger"
            *ngIf="appareilStatus === 'alumé'"
            (click)="onswitch()" 
            [disabled]="appareilStatus === 'eteint'"></button>
</li>