/* You can add global styles to this file, and also import other style files */
.alumeur-off{
    width: auto;
    height: auto;
    background: red;
    padding: 10px;
}
.alumeur-on{
    width: auto;
    height: auto;
    color: #aaa;
}